---
title: CELL
---

- target       = locals['target'] || '_blank'
- local_title  = locals['title'] || 'No Title Given'
- elements     = locals['elements'] || []

%h2
  = local_title

%table{border: 0}
  - elements.each do |elem|
    %tr
      %td
        - elem.each do |tag, attribs|
          - if tag == 'anchor'
            %a{href: attribs['href'], target: target}
              = attribs['text']
          - elsif tag == 'hr'
            %hr
